#Menu for Day 2

Topic 7: Comprehension
+ i for i in range 

Topic 8: Mounting Google Drive + File IO

Topic 9: Object Oriented Programming 
+ Class
+ Inheritance
+ Parents

Topic 10: SQLite Databasing

Topic 11: Error Handling
+ IndexError
+ IOError
+ TypeError
+ ValueError



---

#Topic 7: Comprehension
Comprehension is just a short form for combining lists + dictionary + sets

##7a) Comprehension for List

In [ ]:
# This is creating a List the usual way

c = []
for i in range(11): 
	c.append(i*i)
print(c)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
help (print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
#This is creating a List using Comprehension

[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]



---

###1st Quiz of the Day

Create a comprehensive list of 20 square numbers
that are not divisible by 3 and 5

Output should be
[1,4,16,49,....]

Time: 5 min

In [ ]:
#Answer to 1st Quiz of the Day

[i*i for i in range(11) if i%3 != 0 and i%5 != 0]

[1, 4, 16, 49, 64]



---

##7b) Comprehension for Set

In [ ]:
#This is creating a Set the usual way

set([i*i for i in range(11)])

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [ ]:
#This is creating a Set using Comprehension

{i*i for i in range(11)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100}



---

###2nd Quiz of the Day

Extract the vocabulary of the sentence below and
exclude {is, a, and}

"Today is a sunny day and a great day"

Hint: Use the split function to split out the words in the sentence

Time : 10 min

In [ ]:
#Answer to 2nd Quiz of the Day

s = "Today is a sunny day and a great day"

exclude_words = {'is','a','and'}

{word for word in s.split() if word not in exclude_words}

{'Today', 'day', 'great', 'sunny'}



---

##7c) Comprehension for Dictionary

In [ ]:
#Comrehension - Dictionary Example 1

{i:i*i for i in range(11)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#Comprehension - Dictionary Example 2li

name = ['Ally','Belinda','Steve']
height = [160,158,170]

{name:height for name,height in zip(name,height)}

{'Ally': 160, 'Belinda': 158, 'Steve': 170}



---

####3rd Quiz of the Day

Given 2 dictionaries

d1 = {'Tom': 14, 'Patrick': 12, 'Sean': 15}

d2 = {'Jeanne': 14, 'Marie': 12}

Merge the two dictionaries into 1 dictionary

Hint: {......for d in (d1,d2) ....in d.items() }

Time : 10 min

In [ ]:
#Answer to 3rd Quiz of the Day

d1 = {'Tom': 14, 'Patrick': 12, 'Sean': 15}
d2 = {'Jeanne': 14, 'Marie': 12}

{i:j for d in (d1,d2) for i,j in d.items() }

{'Jeanne': 14, 'Marie': 12, 'Patrick': 12, 'Sean': 15, 'Tom': 14}



---

#Topic 8: Mounting Google Drive & File IO

#8a) Mounting Google Drive

##8a)(i) Import OS first to start handling Files and Directories

In [ ]:
import os

##8a)(ii) Check the current Working Directory

In [ ]:
os.getcwd()

'/content'

##8a)(iii) Mounting Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##8a)(iv) Changing the Working Directory

In [ ]:
path = '/content/drive/My Drive'
os.chdir(path)

##8a)(v) Checking which Directory you are working in

In [ ]:
os.getcwd()

'/content/drive/My Drive'

##8a)(vi) Create a Test Folder in Google Drive

In [ ]:
path = '/content/drive/My Drive/test'

##8a)(vii) Change the Working Direcrtory to that Test Folder

In [ ]:
os.mkdir(path)

FileExistsError: ignored

##8a)(viii) Create a foo.txt file in the Test Folder and write 'Hello Google Drive' into it

In [ ]:
with open('/content/drive/My Drive/test/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')

##8a)(ix) Display the.txt file

In [ ]:
!cat '/content/drive/My Drive/test/foo.txt'

Hello Google Drive!

##8a)(x) Display what is inside the Test Folder

In [ ]:
path = '/content/drive/My Drive/test'
os.listdir(path)

['test.txt', 'user.txt', 'school.db', 'foo.txt']

##8a)(xi) Delete the foo.txt file

In [ ]:
os.remove('/content/drive/My Drive/test/foo.txt')

##8a)(xii) Delete the Test folder

In [ ]:
path = '/content/drive/My Drive/test'
os.rmdir(path)

OSError: ignored



---

#8b) File IO

##8b)(i) Creating a Test Folder and making it the Working Directory

In [ ]:
import os

path = '/content/drive/My Drive/test'
os.mkdir(path) 
os.chdir(path)
os.getcwd()

FileExistsError: ignored

##8b)(ii) Opening the Test.txt file to Write

In [ ]:
f = open('test.txt','w')
for i in range(10):
    f.write('This is line {}\n'.format(i+1))

In [ ]:
!cat '/content/drive/My Drive/test/test.txt'

cat: '/content/drive/My Drive/test/test.txt': No such file or directory

- You will notice that the code above displays nothing because 'w' simply opens the file to write, 
- but it will not 'write' anything to the .txt file. 

- You need to use 'a' to 'append' then it will work.

##8b)(iii) Opening the Test.txt file to Append

In [ ]:
f = open('test.txt','a')
for i in range(10):
    f.write('This is line {}\n'.format(i+10))

In [ ]:
!cat '/content/drive/My Drive/test/test.txt'

cat: '/content/drive/My Drive/test/test.txt': No such file or directory

##8b)(iv) Closing the file

In [ ]:
f.close()



---

##5th Quiz of the Day

- Prompt user to enter the name, weight and height, and compute the bmi (=weight/height*height)

- name = input('Enter name: ')

- height = float(input('Enter height (m): '))

- weight = float(input('Enter weight (kg): '))

- enter the data into a file in the format below. 
- convert name to lower case and round bmi to 2 decimal places.

- name    height   weight   bmi

- alfred  1.7      72.3     25.02

- steve   1.75     68.0     22.2

In [ ]:
#Answer to 5th Quiz of the Day

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os 
path = '/content/drive/My Drive/test'
os.chdir(path)
os.getcwd()

'/content/drive/My Drive/test'

In [ ]:
f = open('user.txt','w')
f.write("name\theight\tweight\tbmi\n")

23

In [ ]:
name = input('Enter name: ')
height = float(input('Enter height (m): '))
weight = float(input('Enter weight (kg): '))
with open("user.txt",'a') as f:
    bmi =  round(weight/(height*height),2)
    f.write("{}\t{}\t{}\t{}\n".format(name.lower(),height,weight,bmi))

Enter name: sd
Enter height (m): 4
Enter weight (kg): 4

In [ ]:
!cat '/content/drive/My Drive/test/user.txt'

name	height	weight	bmi



---

#Topic 9: Object Oriented Programming

##9a) Creating Class and Object

- A class is the parent of an object.

- The object will take over the attributes of the parent.

In [ ]:
#This is an Example of a Class = Animal 

class Animal:
    color = "black"
    legs = 4
    
    def walk(self):
        print("walk like an animal")
    
    def type(self):
        print('This {} animal has {} legs'.format(self.color,self.legs))

In [ ]:
#This is an Example of an Object = Dog

dog = Animal()
print(dog.color)
print(dog.legs)

black
4

In [ ]:
dog.walk()
dog.type()

walk like an animal
This black animal has 4 legs

In [ ]:
Alvin = Animal()
print(Alvin.color)
print(Alvin.legs)

black
4



---

###6th Quiz of the Day

- Create a Counter class with a property of count.

- This class has 3 functions
** 1. increment the count by 1
** 2. increment the count by n
** 3. reset the count to 0

Time: 10 min

In [ ]:
#Answer to 6th Quiz of the Day

class Counter:
    count = 0

    def reset(self):
        self.count = 0

    def increment(self):
        self.count = self.count + 1
    
    def incrementByN(self,n):
        self.count = self.count + n

In [ ]:
counter = Counter()
print(counter.count)

0

In [ ]:
counter.increment()
counter.increment()
counter.increment()
print(counter.count)

3

In [ ]:
counter.incrementByN(10)
print(counter.count)

13

In [ ]:
counter.reset()
print(counter.count)

0



---

##9b) Using Initializer for Class

- An initializer is a must to use for Class.

- Purpose to initialize the inputs by the user.

In [ ]:
#Initializing a Class Example 1

class Animal:

    def __init__(self,color,legs):
        self.color = color
        self.legs = legs
        
    def walk(self):
        print("walk like an animal")
    
    def type(self):
        print('This {} animal has {} legs'.format(self.color,self.legs))

#self is like a global variable shared across all def

In [ ]:
#Using the Class on an Object

spider = Animal('brown',8)
spider.type()

This brown animal has 8 legs

In [ ]:
#Initializing a Class Example 2

class Person:
     
    def __init__(self,name, height):
         self.name = name
         self.height = height
    
    def disp_height(self):
        print("{} height is {}cm".format(self.name, self.height))

In [ ]:
#Using the Class on an Object
#Type This

alfred = Person('Alfred',170)
alfred.disp_height()

Alfred height is 170cm



---

###7th Quiz of the Day

Write a Rectangle Class with an initializer to accept two properties: length and width. 

The Rectangle Class has a method to compute the area of the rectangle

Time: 10 min

In [ ]:
#Answer to 7th Quiz of the Day

class Rectangle:
    
    def __init__(self,length,width):
        self.length = length
        self.width = width
    
    def area(self):
        return self.length*self.width

In [ ]:
rect1 = Rectangle(10,20)
rect1.area()

200



---

##9c) Using Destructor for Class

Destructor is simply used to delete away objects

In [ ]:
#Destructor Exampe

class Animal:

    def __init__(self,color,legs):
        self.color = color
        self.legs = legs

    def __del__(self):
        print("The animal has destroyed")
        
    def walk(self):
        print("walk like an animal")
    
    def type(self):
        print('This {} animal has {} legs'.format(self.color,self.legs))

In [ ]:
#The del will delete away the object - cat

cat = Animal('white',3)
cat.type()
del cat

This white animal has 3 legs
The animal has destroyed

##9d) Learning about Instances

Instances are simply the 'def' within the 'class'.

Meaning, they are the syntax within the sub-functions.

In [ ]:
class Animal:

    color = 'white'
    legs = 4

#color and legs are Class Variables

    def __init__(self,color,legs):
        self.color = color
        self.legs = legs

# self.color and self.legs are Instance Variables        
    
    def instanceType(self):
        print('This {} animal has {} legs'.format(self.color,self.legs))      

#notice that the 'self.' points back to the 'Instance'

    def classType(self):
        print('This {} animal has {} legs'.format(Animal.color,Animal.legs))

#notice that the 'Animal.' points back to the 'Class'

In [ ]:
Alvin = Animal('stupid', 3)

In [ ]:
Alvin.instanceType()

This stupid animal has 3 legs

In [ ]:
Alvin.classType()

This white animal has 4 legs



---

###8th Quiz of the Day

Create a Employee class with the following
properties

- empCount : Number of Employees (class variable)
- accept two properties: name, salary (instance
variables)
- a method to display employee count
- a method to display employee name and salary

When an employee object is created, the empCount
increase by 1. When an employee object is deleted the empCount reduce by 1

Time: 10 mins

In [ ]:
#Answer to 8th Quiz of the Day

class Employee:

    empCount = 0

    #empCount is a Class Variable
    
    def __init__(self,name,salary):
        self.name = name
        self.salary = salary
        Employee.empCount = Employee.empCount+1

        #self.name and self.salary are Instance Variables
        #Employee.empCount is a Class Variable
    
    def __del__(self):
        Employee.empCount = Employee.empCount-1
    
    def dispEmployee(self):
        print("{} salary is {}".format(self.name,self.salary))

        #note that the 'self.' points back to the 'Instance'

    def dispEmployeeCount(self):
        print("Number of Employee is {}".format(Employee.empCount)) 

        #note that the 'Employee.' points back to the 'Class'

In [ ]:
emp1 = Employee('Ally',5000)
emp2 = Employee('Belinda',6000)
emp3 = Employee('Jane',4000)

In [ ]:
emp1.dispEmployee()

Ally salary is 5000

In [ ]:
emp1.dispEmployeeCount()

Number of Employee is 3

In [ ]:
del emp1

In [ ]:
emp2.dispEmployeeCount()

Number of Employee is 2



---

##9e) Learning about Inheritance

The child class inherits all the attributes and
methods from the base (parent) class.

class Dog(Animal):
pass

dog = Dog('brown',4)

dog.type()

In [ ]:
#Inheritance Example
#Type this

class Animal:

    def __init__(self,color,legs):
        self.color = color
        self.legs = legs
        
    def walk(self):
        print("walk like an animal")
    
    def type(self):
        print('This {} animal has {} legs'.format(self.color,self.legs))

In [ ]:
#Type this

class Dog(Animal):
    pass

In [ ]:
#Type this

dog = Dog('brown',4)
dog.type()

This brown animal has 4 legs



---

##9f) Learning about Overwriting the Parent

To Overwrite the Parent, use the super() function

In [ ]:
#Type this

class Dog(Animal):
    
    def __init__(self,color):
        super().__init__(color,7)

        #You can see here that the initialization is Overwritten with new color and legs
  
    def walk(self):
        print("walk like an dog")
    
    def talk(self):
        print("woof woof woof")

In [ ]:
#Type This

dog = Dog('brown')
dog.type()
dog.walk()
dog.talk()

This brown animal has 7 legs
walk like an dog
woof woof woof



---

###9th Quiz of the Day

Create a Square Class inherited from Rectangle
class and initializes the length.

Add new method to computer the perimeter = 4*length

Time: 10 min

In [ ]:
#Answer to 9th Quiz of the Day

class Rectangle:
    
    def __init__(self,length,width):
        self.length = length
        self.width = width
    
    def area(self):
        return self.length*self.width

In [ ]:
class Square(Rectangle):

    def __init__(self,length):
        super().__init__(length,length)

    def perimeter(self):
        return 4*self.length

In [ ]:
sq = Square(5)
sq.area()

25

In [ ]:
sq.perimeter()

20



---

###10th Quiz of the Day

Create FullTimeStaff and PartTimeStaff child classes inherited from the Employee class

- FullTimeStaff has extra attribute of leave beside name and salary
- PartTimeStaff has name and hourly rate attributes, but no salary and leave attributes
- Employee Count only count FullTimeStaff

Time : 15 mins

In [ ]:
#Answer to 10th Quiz of the Day

class Employee:

    empCount = 0
    
    def __init__(self,name,salary):
        self.name = name
        self.salary = salary
        Employee.empCount = Employee.empCount+1
    
    def __del__(self):
        print("{} has left the company".format(self.name))
        Employee.empCount = Employee.empCount-1
    
    def dispEmployee(self):
        print("{} salary is {}".format(self.name,self.salary))

    def dispEmployeeCount(self):
        print("Number of Employee is {}".format(Employee.empCount))

In [ ]:
class FullTimeStaff(Employee):
    
    def __init__(self,name,salary,leave):
        super().__init__(name,salary)
        self.leave = leave

    def dispEmployee(self):
        print("{} salary is {} and leave is {}".format(self.name,self.salary,self.leave))

In [ ]:
class PartTimeStaff(Employee):
    
    def __init__(self,name,hrrate):
        super().__init__(name,0)
        self.hrrate = hrrate
    
    def __del__(self):
        pass
    
    def dispEmployee(self):
        print("{} hourly rate is {}".format(self.name,self.hrrate))

In [ ]:
emp1 = FullTimeStaff('Ally',5000,24)
emp2 = FullTimeStaff('Belinda',6000,21)
emp3 = PartTimeStaff('Jane',100)

In [ ]:
emp1.dispEmployee()

Ally salary is 5000 and leave is 24

In [ ]:
emp1.dispEmployeeCount()

Number of Employee is 3

In [ ]:
emp3.dispEmployee()

Jane hourly rate is 100

In [ ]:
del emp1

Ally has left the company

In [ ]:
del emp3

In [ ]:
emp2.dispEmployeeCount()

Number of Employee is 2



---

#Topic 10 = Databases

##10a) Import SQlite

In [ ]:
import sqlite3

##10b) Create a SQlite Database

In [ ]:
db = sqlite3.connect('school.db')

##10c) Create a Table in the Database

In [ ]:
db.execute('create table student (name text,rank int)')

##10d) Insert Data into the Table

In [ ]:
# Insert Record
db.execute('insert into student (name,rank) values (?,?)',('Belinda',2))
db.execute('insert into student (name,rank) values (?,?)',('Jane',3))
db.execute('insert into student (name,rank) values (?,?)',('Steve',4))
db.execute('insert into student (name,rank) values (?,?)',('Alfred',5))
db.commit()

##10e) Read Record

In [ ]:
list = db.execute('select * from student order by name')

for i in list:
	print(i)

('Alfred', 5)
('Belinda', 2)
('Jane', 3)
('Steve', 4)

##10f) Edit Alfred and Steve Record

In [ ]:
db.execute('update student set rank=? where name=?',(5,'Steve'))
db.execute('update student set rank=? where name=?',(4,'Alfred'))

##10g) Read the Record again

In [ ]:
list = db.execute('select * from student order by name')

for i in list:
	print(i)

('Alfred', 4)
('Belinda', 2)
('Jane', 3)
('Steve', 5)

##10h) Delete Steve Record

In [ ]:
db.execute('delete from student where rank=5')

##10i) Read the Record again

In [ ]:
list = db.execute('select * from student order by name')

for i in list:
	print(i)

('Alfred', 4)
('Belinda', 2)
('Jane', 3)



---

##11th Quiz of the Day

Create a table "subjects" to your DB, students,
classes. 

Insert the following records

- subject - students - classes
- English - 200 - 10
- Chinese - 50 - 8
- Math - 80-  12
- Science - 80 - 12

Time: 10min

In [ ]:
#Answer to 11th Quiz of the Day

import sqlite3

In [ ]:
db.execute('create table subjects (subject text,students int, classes int)')

In [ ]:
db.execute('insert into subjects (subject,students, classes) values (?,?,?)',('English',200,10))
db.execute('insert into subjects (subject,students, classes) values (?,?,?)',('Chinese',50,8))
db.execute('insert into subjects (subject,students, classes) values (?,?,?)',('Math',80,12))
db.execute('insert into subjects (subject,students, classes) values (?,?,?)',('Science',80,12))
db.commit()

In [ ]:
list = db.execute('select * from subjects order by subject')

for i in list:
	print(i)

('Chinese', 50, 8)
('English', 200, 10)
('Math', 80, 12)
('Science', 80, 12)



---

#Topic 11 = Error Handling

Error Handling simply means handling errors when they pop up.

Various type of Errors:
- IndexError 
- IOError 
- TypeError
- ValueError

In [ ]:
a = int(input('Enter an integer : '))
print("You enter ",a)

#notice the error that pops up when you key in something else

Enter an integer : 3
You enter  3

##11a) Learning Try-Except

In [ ]:
#Type this

try:
	a = int(input('Enter an integer : '))
	print("You enter ",a)
except:
	print("Please enter an integer")
 
 #noticed you prevented the error from popping up, but it exited the program!

Enter an integer : 6
You enter  6

##11b) Learning Try-Except-Else-Finally

In [ ]:
#Type this

try:
	a = int(input('Enter an integer : '))
except ValueError:
	print("Please enter an integer")
else:
   	print("You enter ",a)
finally:
    print("Please try again")

Enter an integer : 5
You enter  5
Please try again

##11c) Handling IO Errors

In [ ]:
#Handling IO Errors
#Type this

try:
	f = open('test888.txt','r')
except IOError:
    print("file does not exist")

file does not exist



---

###12th Quiz of the Day

import random

die = random.choice([1,2,3,4,5,6])

print('The correct answer is ',die)
- Prompt user to guess an integer number
- if guess correctly, jump out from the program.
- If guess wrongly, ask user to guess again
- Run the program from command line as Sublime
- Text does not support input



---

##11d) Learning about Random Function

In [ ]:
#Type this

import random
die = random.choice([1,2,3,4,5,6])
print('The correct answer is ',die)

The correct answer is  5

In [ ]:
#Answer to 12th Quiz of the Day

while True:
    try:
        guess = int(input('Guess the die no : '))
        if guess == die:
            print("Good Guess")
            break
        else:
            print("Wrong")
    except:
        print("Pls try again")

Guess the die no : 5
Good Guess



---

#END OF DAY 2 = PRACTICAL MINI PROJECT
##This project is optional and can be completed at your own pace / reference.

This is a mini project based on a fictitious scenario:
- MOE has engaged you to create a Python code to collect psle data
and enter to database.
** 1. Prompt user for name, subject, score
** 2. Compute the tscore
** 3. Create a Users DB and key the name, subject, score and tscore to
the DB

- The T-Score Formula is

- tscore = 50+ 10*(score-avg)/std

##Answer to Practical Mini Project

In [ ]:
import sqlite3
db = sqlite3.connect('school.db')
try:
    db.execute('create table PSLETSCORE (name text,subject text,score float, tscore float)')
except:
    pass

In [ ]:
class TSCORE:

    avg = 60
    std = 14

    def __init__(self,name,subject,score):
        self.name = name
        self.subject = subject
        self.score = score
        self.tscore = round(50 + 10*(self.score-TSCORE.avg)/TSCORE.std,2)

    def keyDB(self):
        db.execute('insert into PSLETSCORE (name,subject,score,tscore) values (?,?,?,?)',(self.name,self.subject,self.score,self.tscore))
        db.commit()
    
    def showDB(self):
        list = db.execute('select * from PSLETSCORE order by name')
        for i in list:
            print(i)

In [ ]:
try:
    name = input('Enter name: ')
    subject = input('Enter subject: ')
    score = float(input('Enter Score (0-100): '))
except:
    print("you key the wrong info")
else:
    tscore=TSCORE(name,subject,score)
    tscore.keyDB()
    tscore.showDB()
finally:
    print("thank you for your input")

Enter name: fff
Enter subject: hgsdf
Enter Score (0-100): 100
('fff', 'hgsdf', 100.0, 78.57)
thank you for your input



---

#THE END



---