#Dragging in CSVs

---

In [ ]:
import pandas as pd

a = pd.read_csv('/content/sample_data/california_housing_test.csv')
a

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

#Mounting Google Drive

---

In [ ]:
import os

In [ ]:
#Check the current Working Directory

os.getcwd()

'/content/drive/MyDrive'

In [ ]:
#Mounting Google Drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Changing the Working Directory 

path = '/content/drive/My Drive'
os.chdir(path)

In [ ]:
#Checking which Directory you are working in

os.getcwd()

'/content/drive/My Drive'

In [ ]:
#Create a Test Folder in Google Drive

path = '/content/drive/My Drive/test'

In [ ]:
#Change the Working Direcrtory to that Test Folder

os.mkdir(path)

In [ ]:
#Create a foo.txt file in the Test Folder and write 'Hello Google Drive' into it

with open('/content/drive/My Drive/test/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')

In [ ]:
#Display the .txt file here

!cat '/content/drive/My Drive/test/foo.txt'

Hello Google Drive!

In [ ]:
#Display what is inside the Test Folder

path = '/content/drive/My Drive/test'
os.listdir(path)

['foo.txt']

In [ ]:
#Delete the foo.txt file

os.remove('/content/drive/My Drive/test/foo.txt')

In [ ]:
#Delete the Test Folder

path = '/content/drive/My Drive/test'
os.rmdir(path)

#Writing to a Text File

---

In [41]:
#Create a Test Folder in Google Drive
import os

path = '/content/drive/My Drive/test'
os.mkdir(path) 
os.chdir(path)
os.getcwd()

'/content/drive/My Drive/test'

In [42]:
#Opening the Test.txt file to Write

f = open('test.txt','w')
for i in range(10):
    f.write('This is line {}\n'.format(i+1))

In [44]:
!cat '/content/drive/My Drive/test/test.txt'

You will notice that the code above displays nothing because 'w' simply opens the file to write, but it will not 'write' anything to the .txt file. 

You need to use 'a' to 'append' then it will work.

In [45]:
#Opening the Test.txt file to Append

f = open('test.txt','a')
for i in range(10):
    f.write('This is line {}\n'.format(i+10))

In [46]:
!cat '/content/drive/My Drive/test/test.txt'

This is line 1
This is line 2
This is line 3
This is line 4
This is line 5
This is line 6
This is line 7
This is line 8
This is line 9
This is line 10

In [47]:
#Closing the File

f.close()

#Prompt user to enter the name, weight and height, and compute the bmi (=weight/height*height)


---

In [48]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [50]:
import os 
path = '/content/drive/My Drive/test'
os.mkdir(path) 
os.chdir(path)
os.getcwd()

'/content/drive/My Drive/test'

In [51]:
f = open('user.txt','w')
f.write("name\theight\tweight\tbmi\n")
f.close()

In [52]:
name = input('Enter name: ')
height = float(input('Enter height (m): '))
weight = float(input('Enter weight (kg): '))
with open("user.txt",'a') as f:
    bmi =  round(weight/(height*height),2)
    f.write("{}\t{}\t{}\t{}\n".format(name.lower(),height,weight,bmi))

Enter name: HAHAHA
Enter height (m): 2.5
Enter weight (kg): 150

In [53]:
!cat '/content/drive/My Drive/test/user.txt'

name	height	weight	bmi
hahaha	2.5	150.0	24.0