#Chapter 2: Using 1 Parent Class (Employee) and 2 Child Classes (Full Time vs Part Time Staff)

We want to:
- Create Employee PARENT CLASS
- Full Time Staff CHILD Class
- Full Time Staff has 
        ◦ Name
        ◦ Salary
        ◦ Leave

- Part Time Staff CHILD Class
- Part Time Staff has 
        ◦ Name 
        ◦ Hourly Rate
        ◦ NO salary and leave attributes

- Staff Strength ONLY counts Full Time Staff



---

#2a) Creating the Employee PARENT Class

In [1]:
class Employee:

    empCount = 0

#-------------------------------------------------------------------------------    
#1st function: Init
#-------------------------------------------------------------------------------

    def __init__(self,name,salary):
        self.name = name
        self.salary = salary
        Employee.empCount = Employee.empCount+1

#-------------------------------------------------------------------------------    
#2nd function: Del
#-------------------------------------------------------------------------------

    def __del__(self):
        Employee.empCount = Employee.empCount-1
        print("{} has left the company".format(self.name))
          
#-------------------------------------------------------------------------------    
#3rd function: Display Employee Count
#-------------------------------------------------------------------------------

    def dispEmployeeCount(self):
        print("Number of Employee is {}".format(Employee.empCount))



---

#2b) Creating the FT Child Class

In [2]:
class FullTimeStaff(Employee):

#-------------------------------------------------------------------------------    
#1st function: Init
#-------------------------------------------------------------------------------
    
    def __init__(self,name,salary,leave):
        super().__init__(name,salary)
        self.leave = leave

#-------------------------------------------------------------------------------    
#2nd function: Display Full Time Employee Attributes
#-------------------------------------------------------------------------------

    def dispFTEmployee(self):
        print("{} salary is {} and leave is {}".format(self.name,self.salary,self.leave))



---

#2c) Creating the PT Child Class

In [3]:
class PartTimeStaff(Employee):

#-------------------------------------------------------------------------------    
#1st function: Init
#-------------------------------------------------------------------------------
    
    def __init__(self,PTname,hrrate):
        #super().__init__(name,0)
        self.PTname = PTname
        self.hrrate = hrrate
        
#-------------------------------------------------------------------------------    
#2nd function: Display Part Time Employee Attributies
#-------------------------------------------------------------------------------

    def dispPTEmployee(self):
        print("{} hourly rate is {}".format(self.PTname,self.hrrate))



---

#2e) Keying in 2 FT Employees & 1 PT Employee

In [4]:
emp1 = FullTimeStaff('Ally',5000,24)

In [5]:
emp2 = FullTimeStaff('Belinda',6000,21)

In [6]:
emp3 = PartTimeStaff('Jane',100)



---

#2f) Displaying Employee 1 Attributes

In [7]:
emp1.dispFTEmployee()

Ally salary is 5000 and leave is 24



---

#2g) Displaying FT Count

In [8]:
emp1.dispEmployeeCount()

Number of Employee is 2



---

#2h) Displaying PT Rate

In [9]:
emp3.dispPTEmployee()

Jane hourly rate is 100



---

#2i) Delete Ally Away....

In [10]:
del emp1

Ally has left the company



---

#2j) Delete Belinda Away....

In [11]:
del emp2

Belinda has left the company



---

#2k) How Many Employees Left?

In [12]:
emp3.dispEmployeeCount()

Number of Employee is 0



---

#THE END

---